*{
    margin: 0;;
    padding: 0;
    box-sizing: border-box; 
    text-decoration: none;
    list-style-type: none;
}
h1{
    text-align: center;
}

.grid{
    display: flex;
    justify-content: space-evenly;
}
.box1,.box2,.box3{
    flex: 1;
    background-color: orange;
    height: 1200px;
    padding: 0.5em;
    margin: 0.5em;
}
.box3{
    padding: 0em;
}
.small,.square{
    background-color: #00edff;
    padding: 0.5em;
}
p{
    font-size: 110%;
}
.box1>.small>p{
    text-align: center;
}
.box1{
    display: flex;
    
}
.box2{
    display:flex;
    flex-direction: column;
}
.box3{
    display: flex;
    flex-wrap: wrap;
}
.box1>.small{
    flex: 1;
    height: 100%;
    margin-left: 0.25em;
    margin-right: 0.25em;
}
.box2>.small{
    text-align: center;
    height: 50%;
    width: 100%;
    margin-top: 0.25em;
    margin-bottom: 0.25em;
}
.square{
    flex: 1;
}
.s1{
    margin-right: 0.5em;
    margin-bottom: 0.5em;
}
.s2{
    margin-left: 0.5em;
    margin-bottom: 0.5em;
}
.s3{
    margin-right: 0.5em;
    margin-top: 0.5em;
}
.s4{
    margin-left: 0.5em;
    margin-top: 0.5em;
}
.up{
    display: flex;
    width: 100%;
}
.toplink{
    position: fixed;
    bottom: 1%;
    right: 1%;
    padding: 0.5em;
    color: white;
    background-color: green;
}
@media only screen and (max-width: 768px) {
    .grid{
        display: block;
    }
    .box1{
        flex-direction: column;
    }
    .box1>.small{
        height: 50%;
        margin-top: 0.25em;
        margin-bottom: 0.25em;
    }
}